<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Saidas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content color="light">
    <ion-list [inset]="true" >
      
      <ion-item *ngFor="let item of produtos">
        
              <ion-label>
                {{ item.produto.nome }} 
              </ion-label>
           
              <div class="qtn">
                {{ item.quantidade }}/{{ item.produto.grandeza }}
              </div>
              
              <ion-button (click)="Saida(item)">
                Saida
              </ion-button>
       
      </ion-item>
      
    </ion-list>
  </ion-content>

</ion-content>



<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="setOpen(false)">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="saidaForm" >
        <ion-grid>
          <ion-row>

            <ion-col size="12">
              <ion-card class="item">
                {{ selectedItem.produto.nome }}
              </ion-card>
            </ion-col>

            <ion-col size="6">
                <ion-item>
                  <ion-select  formControlName="destinacao" aria-label="Tipo Insumo" placeholder="Tipo insumo">
                    <ion-select-option *ngFor="let item of destinacoes" [value]="item.id">{{ item.nome }}</ion-select-option>

                  </ion-select>
                </ion-item>
            </ion-col>
           
            <ion-col size="6">
              <ion-input type="number"  formControlName="quantidade" label="Quantidade" label-placement="floating" fill="outline" placeholder="Quantidade"></ion-input>

            </ion-col>
         

            <ion-col size="12">
              <ion-button  (click)="submitSaida()" expand="block">Salvar</ion-button> 
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
      
    </ion-content>
  </ng-template>
</ion-modal>